@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
	--grayish-blue: #494e6e;
	--grayish-blue-darker: #7e88c3;
	--grayish-blue-lighter: #888eb0;
	--light-grayish-purple: #858bb2;
	--black: #0c0e16;
	--accent-dark: #7c5dfa;
	--accent-hover: #9277ff;
	--white: #ffffff;
	--pending: #ff8f00;
	--paid: #33d69f;
	--red: #ec5757;
	--text-add-h2: #777f98;
	--discard-bg: #f9fafe;
	--cancel-bg: #373b53;
}

:root[data-theme="dark"] {
	--side-color: #1e2139;
	--bg: #141625;
	--bg-card: #1e2139;
	--text: #ffffff;
	--text-muted: #dfe3fa;
	--price-banner-text-muted: #dfe3fa;
	--input-bg: #1e2139;
	--input-border: #252945;
	--dropdown-bg: var(--input-border);
	--dropdown-shadow: #00000040;
	--draft: #dfe3fa;
	--banner-bg: #252945;
	--banner-total-bg: #0c0e16;
}

:root[data-theme="light"] {
	--draft: #373b53;
	--side-color: #373b53;
	--bg: #f8f8f8;
	--bg-card: var(--white);
	--text: #0c0e16;
	--text-muted: #888eb0;
	--price-banner-text-muted: #7e88c3;
	--input-bg: var(--white);
	--input-border: #dfe3fa;
	--dropdown-bg: var(--white);
	--dropdown-shadow: #48549f40;
	--banner-bg: #f9fafe;
	--banner-total-bg: var(--side-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: "League Spartan", sans-serif;
	scrollbar-width: none;
}

body {
	width: 100%;
	min-height: 100vh;
	/* overflow: hidden; */
}

#root {
	width: 100%;
	min-height: 100vh;
}

button {
	cursor: pointer;
}
